*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.header__nav{
    max-width: 1200px;

}

.btn{
    margin-top: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
